.loginContainer {
  display: flex !important;
  /* flex: 1; */
  /* flex-direction: row; */
  width: 40vw;
  height: 600px;
  justify-content: center !important;
  align-content: center !important;
  box-shadow: 2px 2px 5px 5px #a4a5a8 !important;
  /* margin-top: 7vw !important; */
  border-radius: 1rem;
  background-color: white;
}

.loginTextFeild {
  width: 100% !important;
}

.loginButton {
  width: 10rem;
  height: 40px !important;
  margin-bottom: 2px !important;

  margin-left: 100px;
}

.forgetButton {
  width: 250px !important;
  height: 40px !important;
  margin-bottom: 30px !important;
  background-color: #1c346d !important;
  margin-left: 100px !important;
}

.loginHeading {
  /* margin-top: 5rem; */
  font-weight: bold !important;
}

@media (max-width: 767px) {
  .mobMarginTop {
    margin-top: 1rem !important;
  }
  .loginContainer {
    width: 19rem;
    height: 600px;
  }
  .forget2Container {
    margin-left: -0.7rem !important;
  }
  .login-fluid {
    padding: 1rem !important;
  }
  .loginButton {
    width: 200px !important;
    /* margin-left: 40px !important; */
  }
  .forgetButton {
    width: 200px !important;
    margin-left: 40px !important;
  }
  .register-responsive {
    width: 19rem !important;
  }
}
